* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: #F55A5A;
  display: flex;
  height: 100px;
  padding: 20px 40px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
}

.nav-text {
  color: #FFFF;
  position: absolute;
  width: 200px;
  left: 600px;
  top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.city-card {
  width: 400px;
  font-size: 14px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

.city-img {
  width: 110%;
  height: 80%;
  border-radius: 20px;
  margin: 30px 0 20px 150px;
}

.city-infocard {
  padding: 25px;
}

.country {
  font-size: 0.85rem;
}

.travel-dates {
  display: inline;
  margin: 1.5px;
}

.place-definition {
  width: 550px;
  font-size: 0.95rem;
  line-height: 2rem;
  letter-spacing: 1.3px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

.footer-text, .copyright-text {
  font-size: 0.9rem;
  height: 0.6rem;
}
