* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: #F55A5A;
  display: flex;
  height: 80px;
  padding: 20px 40px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.28);
}

.nav-text {
  color: #FFFF;
  position: absolute;
  width: 200px;
  left:600px;
  top: 10px;
  font-size: 1.5rem;
}

.city-card {
  width:310px;
  font-size: 14px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

.city-img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  margin: 30px 0 0 30px;
}

.city-infocard {
  display: inline-block;
  padding: 25px;
}

.travel-dates {
  display: inline;
  padding: 5px;
}

.place-definition {
  width: 500px;
  font-size: 0.95rem;
  letter-spacing: 1.2px;
}
